@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {


  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}
.outer {
  background: url("/static/IRapp/images/photo.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
}


.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
}
.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 500px;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: fixed;
  top: 73px;
  left:900px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.search > div > input {
  color: white;
  font-size: 20px;
  background: transparent;
  position: fixed;
  top:40px;
  left:870px;
  width: 25px;
  height: 40px;
  padding: 10px;
  border: solid 5px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  width: 250px;
}
